video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    background-color: #0B0C10;
    height: 100%;
    width: 100%;
    padding:20px;
    
    align-items: center;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
}

.hero-container-projects{
    background-color: #fff;
    height: 100%;
    width: 100%;
    padding:20px;
    
    align-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
}

.hero-container > h1,h2 {
    color: #ffffff;
    font-size: 40px;
    margin-top: 75px;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-container-projects > h1,h2 {
    color: #ffffff;
    font-size: 40px;
    margin-top: 75px;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-container > p{
    margin-top: 8px;
    color: #ffffff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hero-container-projects > p{
    margin-top: 8px;
    color: #ffffff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hero-section {
    flex-direction: row;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.image-cropper {
    width: 250px;
    height: 250px;
    
    overflow: hidden;
    border-radius: 100%;
    
  }
  .image-cropper-projects {
    width: 250px;
    height: 250px;
    
    padding-right: 100px;
    
  }
.hero-image{
    float: left;
    color: #ffffff;
    display: inline;
  margin: 0 auto;
  height: 110%;
  width: auto;
}
.hero-image-projects{
  
    color: #ffffff;
    display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.hero-text{
    padding: 80px;
    margin-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.hero-text > p{
    margin-bottom: auto;
    margin-top: 50px;
    color: #fff;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.hero-text-projects{
    padding: 80px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000;
}

.hero-text-projects > p{
    
    margin-bottom: auto;
    margin-top: 50px;
    color: #000;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 60px;
        margin-top: 150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
        margin-top: 100px;
    }
    
    .hero-container > p {
        font-size: 25px;   
    }

    .btn-mobile{
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}